/* 样式重置 */
*,
::after,
::before {
    /* 怪异盒子 */
    /* 这样设置元素的宽高一定是准确的,不会因为 内边距和边框 而变化 */
    box-sizing: border-box;
}

img {
    /* 幽灵空白节点 */
    display: block;
    /* 默认的适配方案:忽略图片原有比例,通过拉伸充满显示的大小 */
    object-fit: cover;
    /* cover保持原有比例,覆盖显示区域 */
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    color: #333;
    font-family: '微软雅黑';
}

a {
    text-decoration: none;
    color: #333;
}