#body{
    // background-color: #fae8c8;
    position: relative;
    >div{
        width: var(--width);
        margin: 0 auto;
        // position: relative;
        >.list{
            display: flex;
            flex-wrap: wrap;
            >li{
                display: flex;
                width: calc((100% - 20px) / 3);
                flex-direction: column;
                justify-content: center;
                align-items: left;
                // white-space: nowrap;
                overflow: hidden;
                margin:0 10px 10px 0;
                background-color: white;
                position: relative;
                border-radius: 8px;
                padding: 0;
                border: 1px solid rgba($color: #333, $alpha: .3);
                box-shadow: 0 2px 2px rgba($color: #000, $alpha: .2);
                >div{
                    position: relative;
                    margin-bottom: 4px;
                    img{
                        width: 100%;
                        
                    }
                    >.hn{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 4px;
                        color: #fff;
                        background-color: rgba($color: #000000, $alpha: .6);
                    }
                    >.name{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left:0;
                        background-color: rgba($color: #000000, $alpha: .4);
                        color: #fff;
                        padding-left: 4px;
                    }
                    background:linear-gradient(to right rgba(0,0,0,0),rgba(0,0,0,.5));
                }
            }
            >li:nth-child(3n){
                margin-right: 0;
            }
        }
        >.pages{
            position: absolute;
            bottom: 28px;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            //  margin-top: 8px;
            button{
                width: 70px;
                height: 36px;
                background-color: #fff;
                color: #000;
                border: 1px solid #000;
                border-radius: 5px;
                &:disabled{
                    border: 1px solid rgba($color: #000000, $alpha: .6);
                    color: #888;
                    cursor: no-drop;
                }
                // 代表按钮处于不可用的状态
                
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 3px;
                li{
                    margin: 0 3px;
                    width: 36px;
                    height: 36px;
                    border-radius: 5px;
                    border: 1px solid #000;
                    text-align: center;
                    line-height: 36px;
                    cursor: pointer;
                    &.active{
                        background-color: orange;
                        color: #fff;
                    }
                }
            }
            input{
                width: 70px;
                height: 36px;
                background-color: #fff;
                color: #000;
                border: 1px solid #000;
                border-radius: 5px;
                margin: 0 3px;
                text-align: center;
            }
        }
    }
}