#body{
    // background-color: #fae8c8;
    position: relative;
    >div{
        width: var(--width);
        margin: 0 auto;
        // position: relative;
        >.list{
            display: flex;
            flex-wrap: wrap;
            >li{
                display: flex;
                width: calc((100% - 20px) / 3);
                flex-direction: column;
                justify-content: center;
                align-items: left;
                // white-space: nowrap;
                overflow: hidden;
                margin:0 10px 10px 0;
                background-color: white;
                position: relative;
                border-radius: 8px;
                padding: 0;
                border: 1px solid rgba($color: #333, $alpha: .3);
                box-shadow: 0 2px 2px rgba($color: #000, $alpha: .2);
                >div{
                    position: relative;
                    margin-bottom: 4px;
                    img{
                        width: 100%;
                        
                    }
                    >.hn{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 4px;
                        color: #fff;
                        background-color: rgba($color: #000000, $alpha: .6);
                    }
                    >.name{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left:0;
                        background-color: rgba($color: #000000, $alpha: .4);
                        color: #fff;
                        padding-left: 4px;
                    }
                    background:linear-gradient(to right rgba(0,0,0,0),rgba(0,0,0,.5));
                }
            }
            >li:nth-child(3n){
                margin-right: 0;
            }
        }
        .loadmore,.nomore{
            font-size: 22px;
            color: #555;
            text-align: center;
            padding: 20px 0;
        }
        .nomore{
            display: none;
        }
    }
}